<section class="catalog">
<h3>OUR CATALOG!</h3>
<form class="search-form" method="get">
    <input type="search" name="search" value="{{search}}">
    <button>Search<i class="fa-solid fa-magnifying-glass"></i></button>
</form>
<ul>
    {{#each shoes}}
        {{>shoesCard}}
    {{else}}
        <p>No Shoes in database!</p>
    {{/each}}
</ul>
</section>