<form class="create-form" action="" method="post">
    <h3>Create Form</h3>
    <label>Brand: <input type="text" name="brand" /></label>
    <label>Model: <input type="text" name="model" /></label>
    <label>Price: <input type="number" name="price" /></label>
    <label>Size: <input type="number" name="size" /></label>
    <label>Image: <input type="text" name="image" /></label>
    <label>Description:
        <textarea
            name="description"
            id=""
            cols="30"
            rows="10"
        ></textarea></label>
    <input type="submit" value="Create" />
</form>