<section class="home">
    <h1>TIDEV </h1>
    <img class="home-img" src="/static/homepage.jpg" alt="" />
    <div class="overlay"></div>
    <div class="home-content">
        <h3>Sport Shoes Store</h3>
        <p><span> WE GOT THEM! </span> Browse our latest models</p>
        <a href="/catalog">Browse</a>
    </div>
</section>