@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
html {
    background-color: #a7dca3;
    color: #123123;
}
body {
    background-color: #289f74;
    max-width: 1024px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

h1,
h2,
h3 {
    text-align: center;
    color: #753742;
    color: #4f3130;
}

/* NAV */
nav {
    background-color: #63c9a7;
    padding: 24px 0;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    position: relative;
}
nav a {
    font-size: 1.25rem;
    text-decoration: none;
    margin: 0 18px;
    color: #123124;

    padding: 6px 12px;
    border-radius: 6px;
}
nav a.admin-logo {
    background: red;
    color: yellow;
    position: absolute;
    right: -18px;
    top: 0;
    padding: 3px 6px;
}
nav a:hover {
    background: #fff;
}
nav a.admin-logo:hover {
    background: red;
    color: yellow;
    cursor: default;
}
/* CREATE FORM */
.create-form {
    display: flex;
    justify-content: space-around;
    position: relative;
    text-align: center;
    color: #123123;
}
.create-form label {
    margin: 24px;
    display: block;
    width: 300px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.create-form .create-form-wrapper label input {
    width: 70%;
}
.create-form .extras-add-wrapper label {
    justify-content: flex-start;
}
.create-form .extras-add-wrapper span {
    margin: 0 6px;
}
.create-form input[type="submit"] {
    padding: 12px 18px;
    margin: 24px;
    text-decoration: none;
    color: #fff;
    background-color: rgb(12, 56, 42);
    border: none;
    border-radius: 12px;
    width: 50%;
}
.create-form input[type="submit"]:hover {
    color: #0c382a;
    background-color: #fff;
    cursor: pointer;
}
.create-form label textarea {
    width: 300px;
    resize: none;
}

/* CATALOG */

.catalog {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.catalog ul {
    display: flex;
    flex-wrap: wrap;
    gap: calc(5% - 36px);
    margin-bottom: 12px;
}
.catalog li {
    background-color: rgb(99, 201, 167);
    list-style: none;
    display: inline-block;
    min-width: 280px;
    width: 30%;
    max-width: 330px;
    padding: 16px;
    margin: 12px;
    box-shadow: -1px 1px 19px 0px rgba(0, 0, 0, 0.75);
}

.catalog h3 {
    margin-bottom: 12px;
    width: 100%;
    height: 70px;
}
.catalog img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-bottom: 12px;
    transition: 0.3s;
}
.catalog li:hover img {
    transform: scale(1.08);
    border-bottom: 6px solid #123123;
}
.catalog p {
    font-weight: 600;
    margin-bottom: 22px;
    padding: 16px;
}
.catalog a {
    text-decoration: none;
    color: #fff;
    background-color: rgb(12, 56, 42);
    padding: 12px 24px;
    border-radius: 12px;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.catalog a:hover {
    color: #0c382a;
    background-color: #fff;
}
/* CATALOG - SEARCH FORM*/
.search-form {
    width: 100%;
    margin: 0 auto;
    /* width: 300px; */
    margin-bottom: 12px;
    text-align: center;
}
.search-form input {
    margin: 0 auto;

    height: 40px;
    font-size: 1.25rem;
    width: 30%;
    margin-bottom: 12px;
}
.search-form button {
    background: #63c9a7;
    border: none;
    font-size: 1.25rem;
    text-decoration: none;
    margin-left: 12px;
    color: #123124;

    padding: 6px 12px;
    border-radius: 6px;
}
.search-form button:hover {
    background: #fff;
}
.search-form button i {
    margin: 0 6px;
    font-size: 16px;
}

/* DETAILS CARD */
.details-card {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 24px 36px;
}

.details-card img {
    width: 30%;
    height: fit-content;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.details-card .content {
    width: 70%;
    padding: 0px 36px 24px;
    display: flex;
    flex-direction: column;
}
.details-card .content h3 {
    margin-bottom: 24px;
    font-size: 1.5rem;
}
.details-card .content p {
    margin-bottom: 6px;
}
.details-card .content p.desc {
    margin-bottom: 6px;
}
.details-card .content span {
    font-weight: 600;
}
.details-card .controls {
    width: 100%;
    text-align: center;
    margin: 12px 0;
}

.details-card .controls a {
    text-decoration: none;
    color: #fff;
    background-color: rgb(12, 56, 42);
    padding: 12px 24px;
    border-radius: 12px;
    width: 50%;
}

.details-card .content .controls a:hover {
    color: #0c382a;
    background-color: #fff;
}
.details-card .total {
    font-size: 1.25rem;
    margin: 6px 0;
}

/* Components */
.error {
    font-size: 1.25rem;
    color: red;
    background-color: yellow;
    text-align: center;
    padding: 12px 24px;
}

/* Home Page */
.home {
    position: relative;
    overflow: hidden;
}
.home h1 {
    margin-bottom: 12px;
    text-transform: uppercase;
    /* z-index: 100; */
}
.home img {
    width: 100%;
    min-width: 800px;
}

.home .overlay {
    position: absolute;
    top: 40px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 10;
}
.home .home-content {
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home .home-content h3 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 24px;
}
.home .home-content p {
    margin-bottom: 24px;
}
.home .home-content span {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
}
.home .home-content a {
    color: #fff;
    text-decoration: none;
    background-color: rgb(12, 56, 42);
    padding: 12px 24px;
    border-radius: 12px;
    display: block;
}
.home .home-content a:hover {
    background-color: fff;
    color: rgb(12, 56, 42);
}

/* Extras FORM */
.extras-form {
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 300px;
    color: #123123;
}
.extras-form label {
    margin: 24px;
    display: block;
    width: 300px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.extras-form label input {
    width: 70%;
}
.extras-form input[type="submit"] {
    text-decoration: none;
    color: #fff;
    background-color: rgb(12, 56, 42);
    padding: 12px 24px;
    border-radius: 12px;
    border: none;
    width: 50%;
    text-align: center;
    margin-bottom: 36px;
}
.extras-form input[type="submit"]:hover {
    color: rgb(12, 56, 42);
    background-color: #fff;
    cursor: pointer;
}
/* Extras Section */
.extra {
    width: 300px;
    margin: 0 auto;
}
.extra.wide {
    width: 50%;
    position: relative;
}
.extra h3 {
    margin-bottom: 12px;
}
.extra ul {
    padding: 0 12px;
}
.extra a {
    text-decoration: none;
    color: #123123;
    list-style: none;
    margin-bottom: 4px;
    display: block;
}
.extra a:hover {
    cursor: pointer;
    color: #fff;
}

.extra a span {
    font-weight: 600;
    margin-right: 8px;
}
