* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: aquamarine;
    width: 1024px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
    text-align: center;
}

/* NAV */
nav {
    background-color: azure;
    padding: 24px 0;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}
nav a {
    font-size: 1.25rem;
    text-decoration: none;
    margin: 0 18px;
}
/* CREATE FORM */
.create-form {
    margin: 0 auto;
    text-align: right;
    width: 300px;
}
.create-form label {
    margin: 24px;
    display: block;
    width: 300px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.create-form label input {
    width: 70%;
}
.create-form input[type="submit"] {
    padding: 12px 18px;
    margin: 24px;
}
.create-form label textarea {
    width: 300px;
    resize: none;
}
